* {
  margin: 0;
  padding: 0%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --bg-color: #111111;
  --secound-bg-color: #151515;
  --text-color: #fcf5f5;
  --main-color: #04fffb;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: rgba(0, 0, 0, 0.089);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
.navbar {
  font-size: 1.8rem;
  color: #fcf5f5;
  margin-left: 5rem;
  font-weight: 300;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon {
  font-size: 3.6 rem;
  color: var(--main-color);
  display: none;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}
span {
  color: var(--main-color);
}
.logo span {
  color: var(--main-color);
}
.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}
.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1000px;
}
.home-img {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 75px;
  border-radius: 0;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.home-img:hover,
.home-img:focus {
  transform: scale(1.1);
  box-shadow: 0 0 35px var(--main-color);
}

.social-icons {
  display: flex;
  gap: 10px;
}
.social-icons a {
  font-size: 24px;
  color: var(--main-color);
  text-decoration: none;
}
.social-icons a:hover {
  color: #0073b1;
  transition: 0.3 ease-in-out;
}
.home-content {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 1000px;
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #fcf5f5;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3 ease-in-out;
}

/* Resposive */
@media (max-width: 768px) {
  .header {
    padding: 1rem 5%;
  }
  .navbar {
    font-size: 1.5rem;
    margin-left: 5rem;
  }
  .home {
    padding: 5rem 5% 5rem;
  }
  .home-content {
    font-size: 1.2rem;
  }
  .home-img {
    width: 200px;
    height: 50px;
  }
}

/* Responsive */
@media (max-width: 480px) {
  .header {
    padding: 1rem 2%;
  }
  .navbar {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  .home {
    padding: 3rem 2% 3rem;
  }
  .home-content {
    font-size: 1rem;
  }
  .home-img {
    width: 150px;
    height: 30px;
  }
}

.about {
  background-color: #ffffff;
  padding: 50px;
  margin: 0;
  overflow: hidden;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-content h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content p {
  color: #333333;
  font-size: 18px;
  margin-bottom: 20px;
}

.portofolio {
  background-color: #ffffff;
  padding: 50px;
  margin: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.portofolio:hover,
.portofolio:active {
  /* add styles for hover and active states */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.portofolio-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.portofolio-content h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.portofolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.portofolio-item {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.portofolio-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.3s ease-in-out;
}

.portofolio-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  border-radius: 10px 10px 0 0;
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.portofolio-item h2 {
  color: var(--main-color);
  font-weight: bold;
  margin-top: 10px;
}

.portofolio-item p {
  color: #333333;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  color: var(--main-color);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #04fffb;
}

.footer p {
  margin-bottom: 10px;
}

aside {
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

aside img {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 0;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

aside img:hover,
aside img:focus {
  transform: scale(1.1);
  box-shadow: 0 0 35px var(--main-color);
}

aside p {
  font-size: 100rem;
  font-weight: 500;
  margin-top: 15px;
  color: var(--secound-bg-color);
  transition: 0.3s ease-in-out;
}
.about-content aside p {
  font-size: 0.9rem; /* make the text smaller */
}

.sertifikasi {
  background-color: #007bff; /* warna biru */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
}

.sertifikasi:hover {
  background-color: var(--main-color); /* warna biru lebih gelap */
}

.sertifikasi img {
  width: 100%;
  height: 400px; /* perkecil ukuran gambar */
  object-fit: contain; /* ubah object-fit menjadi contain */
  border-radius: 30px 10px 0 0;
}

.sertifikasi h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.sertifikasi p {
  font-size: 14px;
  margin-top: 10px;
}
